@import '../../shared/styles/_vars.scss';

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-top: 30px;  
  @include respond-to($tablet) {
		flex-direction: column;
	}
}