@import '../../shared/styles/_vars.scss';

.app {
  max-width: 960px;
  margin: 0 auto;
  padding: 45px 100px;
  @include respond-to($desktop) {
		max-width: 768px;
    padding: 30px 50px;
	}
  @include respond-to($mobile) {
    padding: 10px 5px;
	}
}

