@import '../../shared/styles/_vars.scss';

.tickets_container {
    min-width: 505px;
    @include respond-to($desktop) {
		min-width: 440px;
	}
    @include respond-to($mobile) {
		min-width: 310px;
	}
}

.info {	
	display: flex;	
	width: 100%;
	min-height: 255px;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
	text-align: center;
}
span {
	margin: auto;
}

.loader {
	margin: 0 auto;
}