@import '../../shared/styles/_vars.scss';

.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
	margin: 0 0 20px 0;
	padding: 0;
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
	list-style: none;
	right: 0;
	left: 0;
    background-color: $white;
    & .filter_item {
        width: 100%;    
        height: 100%;
        & .filter_btn {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;  
            height: 50px;
            border: 1px solid $gray;
            border-collapse: collapse;
            background-color: transparent;
            font-size: 12px;
            text-transform: uppercase;
            color: $mainText;
            cursor: pointer;
            @include respond-to($mobile) {
                font-size: 10px;
            }
            &.selected {
                background-color: $blue;
                color: $white;
            }
        }
        &.first .filter_btn {
            border-radius: 5px 0 0 5px;
        }

        &.last .filter_btn {
            border-radius: 0 5px 5px 0;
        }        
    }
}

